# Project exclude paths
/.gradle/
/Coffee Machine/task/build/
/Coffee Machine/task/out/
/Coffee Machine/task/out/production/classes/
/Problems/The minimum value of an array/out/
/Problems/The minimum value of an array/out/production/classes/